.operation {
    display: flex;
}

.search {
    width: 300px;
    position: relative;
}

.search-input {
    width: -webkit-fill-available;
    padding: 10px;
    border-radius: 12px;
    border: var(--border-input-field);
    font-size: 15px;
    outline: none;
    padding-left: 40px;
}

.search .icon {
    position: absolute;
    top: 12px;
    left: 13px;
    color: #666666;
}

.sort-add {
    margin-left: auto;
    display: flex;
}

.btnadd {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    padding: 9px 0px;
    border-radius: 12px;
    background-color: transparent;
    color: #719b71;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.general-action {
    display: flex;
    column-gap: 20px;
    padding: 20px 10px;
}
.general-action label {
    cursor: pointer;
}

.general-action section {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 14px;
}

.general-action section:nth-child(2),
.general-action section:nth-child(3) {
    color: var(--delete-color);
    
}

.general-action section:not(:last-child)::after {
    content: "|";
    color: gray !important;
    position: relative;
    right: -4px;
    font-size: 10px;
}

.table-container .table-scroll {
    width: 100%;
    overflow: hidden;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    height: calc(100vh - 325px);
}

/* Force both header and rows to act as full-width tables */
.table-container thead,
.table-container tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; 
}

.table-container thead tr {
    font-size: 12px;
}

.table-container tbody {
    display: block;
    height: calc(100vh - 360px);
    overflow-y: auto;
}

/* Target specific columns for alignment */
.table-container th:nth-child(1),
.table-container td:nth-child(1) {
    width: 30px; /* Fixed width for the first/ column */
}

.table-container td:nth-child(2) {
    font-size: 11px;
    color: rgb(108, 81, 81);
    font-weight: bold;
}

.table-container th:nth-child(2),
.table-container td:nth-child(2) {
    width: 80px; /* Fixed width for the second column */
}

.table-container th:nth-child(4),
.table-container td:nth-child(4) {
    width: 70px;
    text-align: center;
}

.table-container th:nth-child(5) {
    text-align: center !important;
}

.table-container th:nth-child(5),
.table-container td:nth-child(5) {
    width: 80px; /* Fixed width for the second column */
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.action svg:last-child {
    color: var(--delete-color)
}

.table-container th, 
.table-container td {
    padding: 18px 12px;
    text-align: left;
}

.table-container tbody tr:not(:last-child) {
    border-bottom: var(--border-line-theme);
}


.table-container th {
    padding: 7px 12px !important;
    background-color: #fafafa;
}

.footer {
    padding: 20px;
    padding-bottom: 0px !important;
    color: rgb(95, 95, 95);
}