.contactForm {
    width: 100%;
    max-width: 700px;
}

.form-row {
    display: flex;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    flex: 1;
    padding: 0 0.5rem;
    position: relative;
}

.form-group label {
    margin-bottom: 0.5rem;
    color: var(--text-sub);
    background: var(--bg);
    position: absolute;
    top: -10px;
    left: 25px;
    padding: 0px 5px;
    font-size: 14px;
}

.with-icon .form-control {
    padding-left: 40px;
}

.with-icon .input-icon-wrapper {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.form-control {
    color: var(--text);
    padding: 15px 20px;
    border-radius: 15px;
    border: var(--border-input-field);
    font-size: 16px;
    background-color: var(--bg);
    resize: none; /* For Textarea */
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
  color: var(--text);
  background-color: var(--bg);
  border-color: var(--text);
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.388);
}

.form-group:focus-within label {
  color: var(--text);
}

.custom-title {
    margin-bottom: 20px;
    font-weight: 500;
}

.card-container-type {
  display: flex;
  gap: 12px;
  flex-direction: row;
}

.card-container-type .card {
  display: flex;
  gap: 12px;
  padding: 12px;
  border: var(--border-container);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

.card-container-type .card:hover {
  border-color: var(--bg-primary);
}

.card-container-type .active {
  border-color: var(--bg-primary);
  background-color: var(--container-bg);
}

.card-container-type .active::before {
    content: "SELECTED";
    position: absolute;
    background-color: var(--bg-primary);
    color: white;
    padding: 2px 10px;
    font-size: 10px;
    border-radius: 5px;
    bottom: -10px;
    right: 10px;
}

.card-container-type .icon {
  font-size: 17px;
}

.card-container-type .title {
  font-weight: 600;
}

.card-container-type .description {
  font-size: 12px;
  color: #666;
}

.card-container-budget {
  display: flex;
  gap: 12px;
  flex-direction: column;
  column-count: 2;
}

.card-container-budget .card {
    display: flex;
    gap: 15px;
    padding: 8px 15px;
    border: var(--border-container);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    align-items: center;
    width: calc(100% - 30px);
}

.card-container-budget .circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: white;
    transition: all 0.2s ease;
}

.card-container-budget .active .circle {
    border-color: #7b7b7b31;
    position: relative;
}

.card-container-budget .active .circle::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 50%;
    background-color: var(--bg-primary);
}

.card-container-budget .card:hover {
    border-color: var(--bg-primary);
}

.card-container-budget .card.active {
    border-color: var(--bg-primary);
}

.card-container-budget .title {
    font-weight: 500;
    font-size: 14px;
    color: var(--text-header);
}

.card-container-budget .description {
    font-size: 12px;
    color: var(--text-muted);
} 

.btn {
    background-color: var(--bg-primary);
    color: white;
    padding: 0px 20px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.2s ease;
    width: 330px;
    font-weight: 500;
    
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--primary-btn-box-shadow);
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: translateY(0);
    opacity: 0.5;
  }
  40% {
    transform: translateY(-6px);
    opacity: 1;
  }
}

@media (max-width: 850px) {
    .btn {
        width: 100% !important;
    }

    .contactForm {
        max-width: unset;
    }

    .card-container-type {
        display: flex;
        gap: 12px;
        flex-direction: column;
    }

    .form-row {
        flex-direction: column;
    }
}