.list-exp {
    list-style: none;
    position: relative;
}

.list-exp p {
    line-height: 25px;
}

.list-exp .ex-name-date-profile {
  display: flex;
  column-gap: 10px;
}

.list-exp .ex-name-date-profile img {
  display: block;
  border-radius: 5px;
  box-shadow: 0 1px 6px -3px rgba(0,0,0,0.93);
  -webkit-box-shadow: 0 1px 6px -3px rgba(0,0,0,0.93);
  -moz-box-shadow: 0 1px 6px -3px rgba(0,0,0,0.93);
  padding: 3px;
}

.list-exp .no-image {
  margin-left: 40px;
}

.list-exp .has-sub .ex-name-date-profile p {
  margin-top: -2px;
}

.list-exp .ex-name-date-profile section {
  padding-top: 6px;
}

ul.list-exp li p.ex-date {
  font-size: 11px;
  margin-top: -5px;
  color: #828282;
}

ul.list-exp li > p.ex-pos {
    font-size: 15px;
}

ul.list-exp > li:not(:last-child)::after {
  content: "";
  background-color: #f2f2f2;
  height: 1px;
  width: 100%;
  display: block;
  margin-bottom: 25px;
}

.list-exp ul li {
  list-style: none;
  position: relative;
}

.list-exp ul:not(.list-exp) {
  margin: 15px 40px;
}

.list-exp li:not(.list-exp > li):not(:last-child) {
  margin-bottom: 25px;
}

.list-exp li:not(.list-exp > li):not(li:last-child)::before {
  content: "";
  background: #ececec;
  z-index: 400;
  width: 1px;
  height: calc(100% + -3px);
  display: inline-block;
  position: absolute;
  top: 27px;
  left: -27px;
}

.list-exp li:not(.list-exp > li)::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 7px;
  left: -32px;
  border-radius: 100%;
  border: 1.5px solid #686868;
}

.list-exp li.no-sub::after  {
  margin-top: 25px;
}

ul.list-exp div.more-info {
  padding: 10px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

ul.list-exp div.tech-containers::before {
  content: "-";
  position: absolute;
  top: 10px;
  left: 3px;
}

ul.list-exp .tech-containers p {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

ul.list-exp .tools-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

ul.list-exp .tools-list span {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 12px;
  display: block;
}