/* ===================================
  General Section Style Start
=================================== */
.about,
.tech-stack,
.experience,
.recent-projects,
.connect,
.blog {
  padding: 30px;
  /* transform: translateY(-2px); */
  box-shadow: var(--box-shadow-default);
  border: var(--border-container);
  border-radius: 12px;
  position: relative;
}

div.title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.title h3 {
  position: relative;
  top: -2px;
  font-size: 15px;
}

.connect .title h3,
.blog .title h3,
.experience .title h3 {
  top: 0px;
}

.about p,
.tech-stack p,
.experience p:not(ul > p),
.recent-projects p {
  line-height: 25px;
}

.second .tech-stack .see-more,
.second .experience .see-more,
.third .recent-projects .see-more,
.fourth .blog .see-more {
  position: absolute;
  right: 15px;
  bottom: 13px;
}

.second .tech-stack .see-more a,
.second .experience .see-more a,
.third .recent-projects .see-more a,
.fourth .blog .see-more a {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-direction: row-reverse;
  column-gap: 10px;
  color: #777;
  text-decoration: none;
  font-size: 13px;
}

.pointer {
  cursor: pointer;
}

/* ===================================
  General Section Style End
=================================== */

/* ===================================
  1st Section Style Start
=================================== */
.first {
  display: flex;
  column-gap: 40px;
  margin-top: 20px;
}

.first > div {
  line-height: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.first .name {
   font-size: 20px;
}

.first .role {
  font-size: 26px;
  font-weight: bolder;
}

.first p.location {
  display: flex;
  align-items: center;
  column-gap: 7px;
  margin-bottom: 5px;
}

.first .action {
  display: flex !important;
  column-gap: 5px;
}

.first .action a {
  height: 35px;
  padding: 0px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  text-decoration: none;
  transition: 0.5s;
}

.first .action a:first-child {
  background-color: var(--bg-primary);
  border: none;
  color: white;
}

.first .action a:first-child:hover {
  background-color: var(--primary-hover-color);
}

.first .action a:last-child {
  background-color: white;
  border: 1px solid rgb(225, 225, 225);
  color: black;
}

.first .action a:last-child:hover {
  background-color: #eeeeee;
}

.first .profile {
  margin-left: auto;
  position: relative;
  height: fit-content;
}

.first .profile > .avatar {
  border-radius: 20px;
  object-fit: cover;

  box-shadow: 1px 1px 20px -3px #000000bf;
  -webkit-box-shadow: 1px 1px 20px -3px #000000bf;
  -moz-box-shadow: 1px 1px 20px -3px #000000bf;
/* 
    box-shadow: 3px 13px 46px -11px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 13px 46px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 13px 46px -11px rgba(0,0,0,0.75); */
}

/* .first .profile::before {
  content: "";
  background-color: #42dd88;
  border: 2.5px solid #fff;
  border-radius: 13px;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  bottom: -4px;
  left: -7px;
} */

.online-indicator {
  background-color: #42dd88;
  border-radius: 13px;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  bottom: -2px;
  left: -2px;
}

.online-indicator::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: rgba(34, 197, 94, 0.6);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@media (max-width: 850px) {
  .first {
    display: block;
    position: relative;
  }
  
  .first .profile {
    margin-left: unset;
    position: absolute !important;
    height: unset;

    top: 0px;
    right: 0px;
  }
}

@media (max-width: 462px) {
  .first .role {
    font-size: clamp(1rem, 5.5vw, 3.5rem);
  }
}

/* ===================================
  1st Section Style End
=================================== */


/* ===================================
  2nd Section Style Start
=================================== */
.second {
  display: flex;
  column-gap: 20px;
}

.second .about p {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
} 

.second > .left-content > section {
  width: calc(100% - 60px);
}

.second > .left-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.second > .right-content > .experience {
  height: calc(100% - 62px);
  width: 240px;
}

.second .experience p:nth-child(2){
  margin-bottom: initial !important;
}

.second .tech-stack * {
  line-height: unset;
}

.second .tech-stack ul.tech-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 20px;
}

.second .tech-stack li.tech-list {
  list-style: none;
  display: flex;
  column-gap: 15px;
  align-items: center;
  border: 1px solid #ececec;
  padding: 10px 15px;
  border-radius: 8px;
  width: calc(100% - 30px)
}

.second .tech-stack li.tech-list div.tech-detail {
  line-height: 17px !important;
}

.second .tech-stack li.tech-list div.tech-detail h5 {
  font-size: 15px;
}

.second .tech-stack li.tech-list div.tech-detail p {
  font-size: 10px;
  color: rgb(158, 158, 158);

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 850px) {
  .second {
    flex-direction: column;
    row-gap: 20px;
  }

  .second .about p {
    display: -webkit-box;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    overflow: unset;
    text-overflow: unset;
  } 

  .second .tech-stack ul.tech-container {
    grid-template-columns: repeat(1, 1fr); 
  }
}

.second .list-exp {
    list-style: none;
    position: relative;
}

.second .list-exp p {
    line-height: 25px;
}

.second .list-exp .ex-name-date-profile {
  display: flex;
  column-gap: 10px;
}

.second .list-exp .ex-name-date-profile img {
  display: block;
  border-radius: 5px;
  box-shadow: 0 1px 6px -3px rgba(0,0,0,0.93);
  -webkit-box-shadow: 0 1px 6px -3px rgba(0,0,0,0.93);
  -moz-box-shadow: 0 1px 6px -3px rgba(0,0,0,0.93);
  padding: 3px;
}

.second .list-exp .no-image {
  margin-left: 40px;
}

.second .list-exp .has-sub .ex-name-date-profile p {
  margin-top: -2px;
}

.second .list-exp .has-sub ul{
  padding: 10px 40px;
}

.second .list-exp .ex-name-date-profile section {
  padding-top: 6px;
}

.second ul.list-exp li p.ex-date {
  font-size: 11px;
  margin-top: -5px;
  color: #828282;
}

.second ul.list-exp li > p.ex-pos {
    font-size: 15px;
}

.second ul.list-exp > li:not(:last-child)::after {
  content: "";
  background-color: #f2f2f2;
  height: 1px;
  width: 100%;
  display: block;
  margin-bottom: 25px;
}

.second ul.list-exp ul li {
  list-style: none;
  position: relative;
}

.second ul.list-exp:not(.list-exp) {
  margin: 15px 40px;
}

.second ul.list-exp li:not(.list-exp > li):not(:last-child) {
  margin-bottom: 25px;
}

.second ul.list-exp li:not(.list-exp > li):not(li:last-child)::before {
  content: "";
  background: #ececec;
  z-index: 400;
  width: 1px;
  height: calc(100% + -3px);
  display: inline-block;
  position: absolute;
  top: 27px;
  left: -27px;
}

.second ul.list-exp li:not(.list-exp > li)::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 7px;
  left: -32px;
  border-radius: 100%;
  border: 1.5px solid #686868;
}

.second ul.list-exp li.no-sub::after  {
  margin-top: 25px;
}

.second ul.list-exp div.more-info {
  padding: 10px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.second ul.list-exp div.tech-containers::before {
  content: "-";
  position: absolute;
  top: 10px;
  left: 3px;
}

.second ul.list-exp .tech-containers p {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

.second ul.list-exp .tools-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.second ul.list-exp .tools-list span {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 12px;
  display: block;
}

/* ===================================
  2nd Section Style End
=================================== */

/* ===================================
  3rd Section Style Start
=================================== */

.third .recent-content {
  display: flex;
  column-gap: 40px;
}

.third .recent-detail {
  width: 100%;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}


.third .recent-detail .name-intro h1 {
  font-size: 30px;
  font-weight: 700;
}

.third .recent-detail .name-intro h2 {
  color: #999898; 
  font-weight: 500;
  font-size: 19px;
}

.third .recent-detail .about-auth h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.third .recent-detail .tech-used ul {
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.third .recent-detail .tech-used ul li {
  list-style-type: none;
  padding: 5px 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  background: transparent;
  border: 1px solid #e5e7eb;
  font-size: 17px;
}

.github-path-section {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 14px;
}

.github-path-section,
.github-path-section a {
  color: rgb(41, 41, 134) !important;
}

.recent-image {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.recent-image-content {
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #ececec;
  padding: 2px;
  height: fit-content;
}

.recent-image .recent-bullets {
  padding: 7px;
}

.recent-image .recent-bullets {
  display: flex;
  column-gap: 5px;
}

.recent-image .recent-bullets span {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.recent-image .recent-bullets span:nth-child(1) {
  background-color: #ff5f56;
}

.recent-image .recent-bullets span:nth-child(2) {
  background-color: #ffe312;
}

.recent-image .recent-bullets span:nth-child(3) {
  background-color: #4ed459;
}

.third .recent-image img {
  display: block;
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #ececec;
  object-fit: cover;

  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.third .recent-action {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.third .recent-action a {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: 100%;
  height: 35px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 10px;
  transition: 0.5s;
}

.third .recent-action a:first-child {
  background-color: var(--bg-primary);
  color: white;
  border: none;
}

.third .recent-action a:first-child:hover {
  background-color: var(--primary-hover-color);
}

.third .recent-action a:last-child {
  color: #000;
  background-color: #fff;
  border: 1px solid #e1e1e1;
}

.third .recent-action a:last-child:hover {
  background-color: #eeeeee;
}

@media (max-width: 850px) {
  .third .recent-content {
    display: block;
  }

  .third .recent-image img {
    width: 100%;
    object-fit: cover;
    height: 270px !important;
  }

  .recent-action {
    margin-top: 30px;
  }
}

/* ===================================
  3rd Section Style End
=================================== */


/* ===================================
  4th Section Style Start
=================================== */

.fourth {
  display: flex;
  column-gap: 20px;
}

.fourth .connect {
  width: 250px;
}

.fourth .connect section:not(:last-child)::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  display: block;
  margin: 19px 0px;
}

.fourth .connect p {
  font-size: 12.5px;
  margin-bottom: 3px;
}

.fourth .connect h5 {
  display: flex;
  align-items: center;
  font-size: 15.2px;
}

.fourth .connect h5 a {
  color: black
}

.fourth .connect span {
  display: block;
  margin-left: auto;
}

.fourth .connect img {
  margin-right: 5px;
}

.fourth .connect .myform a,
.fourth .connect .sched a {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;;
}

.fourth .connect section span {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  transition: 0.5s;
}

.fourth .connect section.email span {
  cursor: pointer !important;
  position: relative;
}


.fourth .connect section.resume span {
  margin: unset !important;
  position: relative;
  bottom: -2px;
}

.fourth .connect section.resume span {
  margin: unset !important;
  position: relative;
  bottom: -2px;
}

.fourth .connect section.resume a {
  width: 100%;
  background-color: var(--bg-primary);
  color: white;
  text-decoration: none;
  height: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  font-size: 14px;
  transition: 0.2s;
}

.fourth .connect section.resume a:hover {
  background-color: var(--primary-hover-color);
}

.fourth .blog {
  width: calc(100% - 394px);
}

.fourth .blog .card-container {
  display: flex;
  flex-direction: column;
}

.fourth .blog .card-container .card {
  cursor: pointer;
  padding: 20px 25px;
  border: 1px solid #ffffff00;
  transition: .2s;
}

.fourth .blog .card-container .card:hover {
  transform: translateY(-2px);
  box-shadow: var(--box-shadow-default);
  border: 1px solid #e5e7eb !important;
  border-radius: 10px;
}

.fourth .blog .card-container hr.card-divider {
  height: 1px;
  width: calc(100% - 30px);
  display: block;
  background-color: #f2f2f2;
  margin: 15px 10px;
  box-shadow: var(--box-shadow-default);
  border: none;
}

.fourth .blog .card-container .card h3.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.fourth .blog .card-container .card div.date-time {
  font-size: 11px;
  color: #717171;
  display: block;
  margin: 7px 0px;
}

.fourth .blog .card-container .card div.date-time span {
  display: inline-block;
  margin: 0px 5px;
}

.fourth .blog .card-container .card p.short-intro {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}

.fourth .blog .card-container .card ul {
  list-style: none;
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.fourth .blog .card-container .card ul li {
  padding: 3px 7px;
  border: 1px solid #e5e7eb;
  display: block;
  border-radius: 8px;
  font-size: 10px;
}

@media (max-width: 850px) {
  .fourth {
    flex-direction: column-reverse !important;
    row-gap: 30px;
  }

  .fourth .blog {
    width: calc(100% - 65px) !important;
  }

  .fourth .connect {
    width: calc(100% - 65px) !important;
  }
}

/* ===================================
  4th Section Style End
=================================== */