.content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.tech-section {
    border: var(--border-container);
    box-shadow: var(--box-shadow-default);
    padding: 30px;
    border-radius: 12px;
}

.tech-section h4 {
    font-size: 15px;
    background-color: var(--bg-primary);
    display: block;
    color: white;
    padding: 5px 20px;
    border-radius: 6px;
    position: relative;
    width: 200px;
    top: -45px;
    font-weight: 400;
    text-align: center;
}

.tech-section ul {
    display: flex;
    list-style: none;
    column-gap: 10px;
    margin-top: -20px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.tech-section ul li {
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 16px;
    display: block;
}
