.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    z-index: 9999;
    background-color: var(--bg);
    transition: opacity 0.4s ease;
    pointer-events: all;
}

.logo {
    position: fixed;
    top: 60px;
    left: 50px;
}

.logo img {
    filter: var(--logo-filter)
}

.fadeInText {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards 0.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-5px); }
    100% { opacity: 1; transform: translateY(0); }
}

.name {
    font-size: 2.5rem;
    letter-spacing: 2px;
    opacity: 0;
    color: var(--text-header);
}

@media (max-width: 850px) {
    .name {
        font-size: 1.6rem;
    }
}

.name::after {
    content: attr(data-text);
}

.name {
    display: flex;
    align-items: center;
    overflow: hidden; 
    border-right: 0.10em solid var(--bg-primary); 
    white-space: nowrap;
    animation:   
        nameTyping 1.8s steps(20, end) forwards 0.7s, /* 1.5s delay before typing starts */
        nameBlink 0.75s step-end forwards 2s;       /* same delay for blinking */
}

@keyframes nameBlink {
    0%, 50% { 
        border-color: var(--bg); 
    }
    100% { 
        border-color: var(--bg-primary); 
    }
}

@keyframes nameTyping {
    0% {
        width: 0%;
        opacity: 0;
        border-right: 0.15em solid var(--bg-primary);
    }

    99% {
        width: 99%;
        opacity: 1;
        border-right: 0.15em solid var(--bg-primary);
    }

    100% {
        width: 100%;
        opacity: 1;
        border-right: none;
    }
}

.title {
    display: inline-block;
    letter-spacing: 2px;
    opacity: 0;
}

.title::after {
    content: attr(data-text);
}

.title {
    display: flex;
    align-items: center;
    height: 30px;
    overflow: hidden; 
    border-right: 0.15em solid var(--bg-primary); 
    white-space: nowrap;
    animation:   
        titleTyping 1.3s steps(9, end) forwards 2.8s, /* 1.5s delay before typing starts */
        titleBlink 0.75s step-end forwards 1s;     /* same delay for blinking */
}

@keyframes titleBlink {
    0%, 50% { 
        border-color: var(--bg-primary); 
    }
    100% { 
        border-color: var(--bg-primary); 
    }    
}

@keyframes titleTyping {
    0% {
        width: 0px;
        opacity: 0;
        border-right: 0.15em solid var(--bg-primary);
    }

    99% {
        width: 99px;
        opacity: 1;
        border-right: 0.15em solid var(--bg-primary);
    }

    100% {
        width: 100px;
        opacity: 1;
    }
}

.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    z-index: 9999;
    background-color: var(--bg);
    transition: opacity 0.4s ease;
    pointer-events: all;
}

.fadeOut {
    opacity: 0;
    pointer-events: none;
    animation: fadeOutAnimation 0.5s forwards;
}

@keyframes fadeOutAnimation {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-20px); }
}

.spinner {
  width: 25px;
  height: 25px;
  border: 2px solid #ddd;
  border-top-color: var( --bg-primary);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}