.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    z-index: 9999;
    background-color: white;
    transition: opacity 0.4s ease;
    pointer-events: all;
}

.logo {
    position: fixed;
    top: 60px;
    left: 50px;
}

.fadeInText {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards 0.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-5px); }
    100% { opacity: 1; transform: translateY(0); }
}

.name {
    display: inline-block;
    font-size: 2.5rem;
    letter-spacing: 2px;
    opacity: 0;
}

.name::after {
    content: attr(data-text);
}

.name {
    overflow: hidden; 
    border-right: 0.15em solid gray; 
    white-space: nowrap;
    animation:   
        typing 2.5s steps(30, end) forwards 0.7s, /* 1.5s delay before typing starts */
        blink 0.75s step-end forwards 2s;       /* same delay for blinking */
}

@keyframes blink {
    0%, 50% { 
        border-color: gray; 
    }
    100% { 
        border-color: white; 
    }
}

@keyframes typing {
    from { 
        width: 0; 
    }
    to { 
        width: 100%; 
        opacity: 1; 
    }
}

.title {
    display: inline-block;
    letter-spacing: 2px;
    opacity: 0;
}

.title::after {
    content: attr(data-text);
}

.title {
    display: block;
    height: 30px;
    overflow: hidden; 
    border-right: 0.15em solid gray; 
    white-space: nowrap;
    animation:   
        typing 3s steps(30, end) forwards 3s, /* 1.5s delay before typing starts */
        blink 0.75s step-end forwards 1s;     /* same delay for blinking */
}

.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    z-index: 9999;
    background-color: white;
    transition: opacity 0.4s ease;
    pointer-events: all;
}

.fadeOut {
    opacity: 0;
    pointer-events: none;
    animation: fadeOutAnimation 0.5s forwards;
}

@keyframes fadeOutAnimation {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-20px); }
}

.spinner {
  width: 25px;
  height: 25px;
  border: 2px solid #ddd;
  border-top-color: var( --bg-primary);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}