/* Skeleton start */

.skeleton {
  background: linear-gradient(
    90deg,
    #ffffff 25%,
    #cacaca 37%,
    #ffffff 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 1s ease infinite;
  display: block;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Skeleton End */


/* Modal Start */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2000;
}

/* Modal box */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background: #fff;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.20s ease;
}

/* Active state */
.active-modal {
  opacity: 1;
  pointer-events: auto;  
  transform: translateX(0px); /* slide into view */
}

.modal-container {
  position: relative;
}

.active-modal .modal {
  transform: scale(1);
  opacity: 1;
}

.header-modal {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(224, 224, 224);

  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  padding: 15px 25px;

  background-color: white;
}

.modal-title {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  column-gap: 10px;
  text-transform: uppercase;
}

/* Close button */
.modal-close-btn {
  color: gray;
  background-color: #f2f2f2;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 9px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;

  margin-left: auto;
  box-shadow: var(--box-shadow-default);
}

.main-content-modal {
  padding: 0px 20px;
  padding-top: 75px !important;
  padding-bottom: 20px;

  overflow: scroll;
  height: calc(100vh - 160px);
}

.modal-form-info {
  font-size: 13px;
  color: gray;
}

.modal-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.modal-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: end;
  column-gap: 10px;

  background-color: white;
  
  padding: 15px 25px;
  border-top: 1px solid rgb(224, 224, 224);
}
.modal-footer button {
  padding: 9px 20px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
}

.modal-footer button:first-child {
  background-color: #f2f2f2;
  border: 1px solid rgb(226, 226, 226);
}

.modal-footer button:last-child {
  background-color: var(--bg-primary);
  border: 1px solid rgb(226, 226, 226);
  color: white;
}

/* Modal End */

/* Form Input Start */
.input-form-row, .input-form-column {
  display: block;
}

.input-form-column {
  display: flex;
  flex-direction: column;
}

.input-form-group:not(.input-form-group:has(input[type="checkbox"])) {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.input-form-group:has(select) .input-form-control {
  width: 100% !important;
}

.input-form-group:has(textarea) .input-form-control {
    height: 100px;
}

.input-form-group:has(input[type="checkbox"]) label {
  display: flex !important;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.input-form-control:not(.input-form-control[type="checkbox"]) {
  width: calc(100% - 20px);
  padding: 10px;

  border: var(--border-input-field);
  border-radius: 5px;
  outline: none;
}

.input-form-control[type="checkbox"] {
  width: 16px;
  height: 16px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(88, 88, 88, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  border-radius:6px;
  cursor: pointer;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-form-control[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='currentColor' stroke='white' stroke-width='2' d='M6 10l3 3l6-6'/%3E%3C/svg%3E");
}

.input-form-control[type="checkbox"]:checked {
  background-color: var(--bg-primary);
  border-color: var(--bg-primary);
}

.input-form-control[type="checkbox"]:active {
  filter: brightness(90%);
}

.input-form-control[type="checkbox"]:focus {
  border-color: var(--bg-primary);
  outline: 0;
  box-shadow: 0 0 0 .25rem #282a3687;
}

/* .input-form-group:has(textarea) .input-form-control {
    height: 100px;
}

.input-form-group:has(input[type="checkbox"]) {
  display: flex !important;
  align-items: center;
  column-gap: 5px;
}

.input-form-group span {
  display: block;
}

.input-form-control[type="checkbox"] {
  width: 50px;
  height: 50px;
} */

/* Form Input End */