/* Skeleton start */

.skeleton {
  background: linear-gradient(
    90deg,
    #ffffff 25%,
    #cacaca 37%,
    #ffffff 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 1s ease infinite;
  display: block;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Skeleton End */


/* Modal Start */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2000;
}

/* Modal box */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background: #fff;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.20s ease;
}

/* Active state */
.active-modal {
  opacity: 1;
  pointer-events: auto;  
  transform: translateX(0px); /* slide into view */
}

.modal-container {
  position: relative;
}

.active-modal .modal {
  transform: scale(1);
  opacity: 1;
}

.header-modal {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(224, 224, 224);

  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  padding: 15px 25px;
}

.modal-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Close button */
.modal-close-btn {
  color: gray;
  background-color: #f2f2f2;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 9px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;

  margin-left: auto;
  box-shadow: var(--box-shadow-default);
}

.main-content-modal {
  padding: 0px 20px;
  padding-top: 75px !important;
}

.modal-form-info {
  font-size: 13px;
  color: gray;
}

.footer-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: end;
  column-gap: 10px;
  
  padding: 15px 25px;
  border-top: 1px solid rgb(224, 224, 224);
}
.footer-modal button {
  padding: 9px 20px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
}

.footer-modal button:first-child {
  background-color: #f2f2f2;
  border: 1px solid rgb(226, 226, 226);
}

.footer-modal button:last-child {
  background-color: var(--bg-primary);
  border: 1px solid rgb(226, 226, 226);
  color: white;
}


/* Modal END */


/* Chat AI Styles START */
.chatAI {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
}

.chatAI .chat-container {
    width: 400px;
    height:500px;
    margin-bottom: 30px;
    position: relative;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    box-shadow: var(--box-shadow-default);
    background-color: white;
    border: 1px solid #eaeaea;
}

.chatAI .chat-container::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: -20px;

    width: 0;
    height: 0;

    border-left: 30px solid transparent;
    border-top: 20px solid #ffffff; 

    border-bottom-right-radius: 30px;
}

.chatAI .chat-container::before {
    content: "";
    position: absolute;
    right: -1px;
    bottom: -22px;

    width: 0;
    height: 0;

    border-left: 31px solid transparent;
    border-top: 21px solid #eaeaea; 

    border-bottom-right-radius: 30px;
}

.chatAI .chat-container .profile {
    display: flex;
    padding: 20px;
    column-gap: 20px;
    align-items: center;
}

.chatAI .chat-container .profile img {
    object-fit: cover;
    border-radius: 100%;
}

.chatAI .chat-container .profile section p {
    font-size: 13px;
    color: #717171;
}

.chatAI .chat-container .profile section span.online-icon {
    width: 7px;
    height: 7px;
    background-color: rgb(64, 123, 64);
    display: inline-block;
    border-radius: 100%;
    margin-right: 5px;
}

.chatAI .chat-container hr {
    height: 1px;
    width: 100%;
    display: block;
    background-color: #f2f2f2;
    box-shadow: var(--box-shadow-default);
    border: none;
}

.chatAI .chat-container .chat-messages {
    height: 320px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(100% - 29px);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.chatAI .chat-container .chat-messages::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
  
.chatAI .chat-container .chat-messages::-webkit-scrollbar-track {
    border-radius: 6px;
}
  
.chatAI .chat-container .chat-messages::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
}
  
.chatAI .chat-container .chat-messages::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.chatAI .chat-container .chat-messages .john {
    display: flex;
    column-gap: 15px;
}

.chatAI .chat-container .chat-messages .john .profile-msg {
    margin-top: auto;
    position: relative;
    bottom: -5px;
}

.chatAI .chat-container .chat-messages .john img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
}

.chatAI .chat-container .chat-messages .john .message,
.chatAI .chat-container .chat-messages .user {
    padding: 15px;
    background-color: #f5f5f5;
    position: relative;
    font-size: 13px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3px;
}

.chatAI .chat-container .chat-messages .john .message > p:last-child,
.chatAI .chat-container .chat-messages .user .message > p:last-child {
    margin-bottom: unset !important;
}

.chatAI .chat-container .chat-messages .john .message p,
.chatAI .chat-container .chat-messages .user .message p {
    margin-bottom: 10px;
    line-height: 20px;
}

.chatAI .chat-container .chat-messages .john .message p > code {
    background-color: #aeb1c6bf;
    border-radius: 2px;
    padding: 0px 5px;
    display: inline-block;
    color: white;
    margin: 2px 0px;
}

.chatAI .chat-container .chat-messages .john .message ul,
.chatAI .chat-container .chat-messages .john .message ol {
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 10px;
}

.chatAI .chat-container .chat-messages .john .message table {
    display: block;
    overflow-x: auto;
    white-space: pre;
    background-color: var(--bg-primary);
    color: white;
    border: 1px solid #494949;
    border-radius: 0.4em;
    padding: 1em;
    margin: 0.5em 0;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    line-height: 1.5;
    word-break: break-word;
    font-size: 9px;
}

.chatAI .chat-container .chat-messages .john .message table th {
    color: #ff7e8a;
    font-weight: 700;
    text-transform: uppercase;
}

.chatAI .chat-container .chat-messages .john .message table th,
.chatAI .chat-container .chat-messages .john .message table td {
    padding: 0.5em 1em;
    border: 1px solid #494949;
    text-align: left;
}


.chatAI .chat-container .chat-messages .john .message::after,
.chatAI .chat-container .chat-messages .user .message::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 10px solid #f5f5f5;

    position: absolute;
    left: -8px;
    bottom: 0px;
}

.chatAI .chat-container .chat-messages .john .message {
    padding: 15px;
    background-color: #f5f5f5;
    position: relative;
    font-size: 13px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3px;
    width: fit-content;
    max-width: 250px;
}

.chatAI .chat-container .chat-messages .user .message::after {
    border-left: 10px solid var(--bg-primary);
    border-top: 15px solid transparent;
    border-right: unset;
    right: -7px !important;
    left: unset;
}

.chatAI .chat-container .chat-messages .user {
    margin-left: auto;
    margin-right: 15px;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 3px;
    background-color: var(--bg-primary) !important;
    color: white;
    width: fit-content;
    max-width: 250px;
}

.chatAI .chat-container .chat-messages .new-convo-btn {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}


.chatAI .chat-container .chat-messages .new-convo-btn svg {
    position: relative;
}

.chatAI .chat-container .chat-messages .animate-spin-icon svg{
    animation: spin 0.5s linear infinite;
}

.chatAI .chat-container .form {
    display: flex;
    position: relative;
    padding: 23px 0px;
}
  
.chatAI .chat-container .form input {
    width: 100%;
    height: 25px;
    border-radius: 50px;
    padding: 5px 20px;
    padding-right: 40px;
    outline: none;
    border: 1px solid #efefef;
    margin: 0px 20px;
}

.chatAI .chat-container .form input:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.chatAI .chat-container .form button {
    position: absolute;
    right: 24px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    border: none;
    color: white;
    background: var(--bg-primary);
    top: 26px;
    transition: .5s;
    cursor: pointer;
}

.chatAI .chat-container .form button:hover {
    background: rgb(102, 102, 102);
}

.chatAI .chat-container .form button svg {
    position: relative;
    bottom: -1px;
}

.chatAI > a {
    background: var(--bg-primary);
    color: white;
    height: 40px;
    width: 180px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 100px;
    column-gap: 12px;
    transition: .5s;
    font-size: 14px;
    margin-left: auto;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatAI a:hover {
    transform: scale(1.12);
    box-shadow: var(--box-shadow-default);
    transition: .5s;
}

.chatAI a b {
    position: relative;
    left: -7px;
}

.chatAI a span {
    position: relative;
    bottom: -2px;
    transform: rotate(20deg);
    animation: wiggle 1.5s ease-in-out infinite;
    height: 20px;
    width: 20px;
}

.chatAI a.isClick {
    width: 40px;
    transform: scale(1.12);
    box-shadow: var(--box-shadow-default);
    transition: .5s;
}

.chatAI a.isClick span {
    bottom: -2px;
    animation: spinOnce 0.3s ease-in-out forwards !important; /* spins once */
    right: -2px;
}

.none {
    display: none !important;
}

.chatAnimateIn {
    animation: slideUpFadeIn 0.3s ease-out both;
}

.chatAnimateOut {
    animation: slideDownFadeIn 0.1s ease-out both;
}
  
.typing-indicator {
  display: flex;
  gap: 5px;
  align-items: center;
}

.typing-indicator span {
  width: 5px;
  height: 5px;
  background: #555;
  border-radius: 50%;
  animation: blink 1.4s infinite;
}

.typing-indicator span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
    0% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

@keyframes spinOnce {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes slideUpFadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes slideDownFadeIn {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

@keyframes blink {
  0%, 80%, 100% {
    opacity: 0.2;
    transform: scale(1);
  }
  40% {
    opacity: 1;
    transform: scale(1.4);
  }
}
/* Chat AI Styles END */

/* Clipoard Styles START */
.container-clipoard {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-clipoard .copy-button {
  appearance: none;
  padding: 3px;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 1px;
  background-color: transparent;
  position: relative;
}

.container-clipoard .copy-button:hover {
    background-color: rgb(235, 235, 235);
}

.container-clipoard .did-animate:hover {
    background-color: transparent !important;
}

/* Wrapper for overlapping icons */
.container-clipoard .icon-wrapper {
  position: relative;
  width: 16px;
  height: 16px;
}

/* Base icon styles */
.container-clipoard .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  stroke-dasharray: 50;
  stroke-dashoffset: 0;
  transition: all 300ms ease-in-out;
}

/* Clippy default and animation */
.container-clipoard .clippy {
  color: black;
}
.container-clipoard .clippy-copied {
  stroke-dashoffset: -50;
}

/* Check icon color and animation */
.container-clipoard .check {
  color: rgb(41, 132, 41);
  stroke-dashoffset: -50; /* initially hidden */
}

.container-clipoard .check-visible {
  stroke-dashoffset: 0; /* slide in when copied */
}
/* CLipoard Styles END */