
.hr-horizontal {
    border: none;
    border-top: 1px solid rgb(225, 225, 225) !important;
    margin: 40px 0px;
    margin-bottom: 20px;
}
  
.section {
    padding-top: 0px;
    padding: 0px 10px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.section p {
    color: #828282;
}
  
.section section.socials ul {
    margin-left: auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0px 20px;
    color: #a4a4a4;
    width: 180px;
}

@media (max-width: 900px) {
  .section {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}