:root {
  --bg-primary: rgb(40, 42, 54);
  /* --bg-primary: #4653FF; */
  /* --bg-primary: #5D72FF; */
  --border-container: 1px solid #eaeaea;
  --box-shadow-default: 0 4px 20px -4px rgba(0,0,0,.08);

  --content-based-width: 970px;
  --delete-color: rgb(189, 71, 71);
  --border-line-theme: 1px solid #eee;
  --border-input-field: 1px solid #e1e1e1;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

* {
  margin: 0px;
  padding: 0px;

  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
}

.wrapper {
  margin-top: 50px;
  padding: 0px 20px;
}

.wrapper .content {
  position: relative;
  margin: 0px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: var(--content-based-width);
}

button, a {
  cursor: pointer;
}

.hidden {
  display: none;
}

.focus-animate {
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.focus-animate:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--bg-primary);
  outline: 0;
  box-shadow: 0 0 0 .25rem #282a3687;
}

/* input text START */
.form-groups {
    display: flex;
    width: 100%;
}

.form-group {
    position: relative;
    width: 100%;
}

.form-control {
  width: calc(100% - 40px);
  padding: 0px 13px;
  font-size: 16px;
  border: 1px solid #ccc;
  background: transparent;
  outline: none;
  border-radius: 12px;
  padding-bottom: 6px;
  padding-top: 17px;
}

textarea.form-control {
  resize: none;
  height: 140px;
}

.form-group label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 16px;
  pointer-events: none;
  background: transparent;
  padding: 0 4px;
  transition: 0.2s ease;
  background-color: white;
}

.form-group:has(textarea) label {
  position: absolute;
  left: 10px;
  top: 23px !important;
}

.form-control:focus + label,
.form-control:not(:placeholder-shown) + label {
  top: 12px !important;
  font-size: 11px;
}

.form section p {
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}


/* input text END */

/* Checkbox input Start */

.form-check-input {
  width: 16px;
  height: 16px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(88, 88, 88, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  border-radius:6px;
  cursor: pointer;
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='currentColor' stroke='white' stroke-width='2' d='M6 10l3 3l6-6'/%3E%3C/svg%3E");
}

.form-check-input:checked {
  background-color: var(--bg-primary);
  border-color: var(--bg-primary);
}

.form-check-input:active {
  filter: brightness(90%);
}
/* Checkbox input END */

/* ================================== 
        HEADER SECTION START 
===================================== */
.header {
  display: flex;
}

.header .linkend {
  color: #4646ee !important;
  cursor: pointer;
}
/* ================================== 
        HEADER SECTION END 
===================================== */

/* ================================== 
        FOOTER SECTION START 
===================================== */
.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0px 10px;
}

.nav ul li.phone-no {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.nav ul li.linkend {
  color: var(--bg-primary);
} 

.hr-horizontal {
    border: none;
    border-top: 1px solid rgb(225, 225, 225) !important;
    margin: 40px 0px;
    margin-bottom: 20px;
}
  
.section {
    padding-top: 0px;
    padding: 0px 10px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.section p {
    color: #828282;
}
  
.section section.socials ul {
    margin-left: auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0px 20px;
    color: #a4a4a4;
    width: 180px;
}

@media (max-width: 900px) {
  .section {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}

/* ================================== 
        FOOTER SECTION END 
===================================== */

/* ================================== 
      ADMIN - GENERAL START
===================================== */
.nav-content {
  width: calc(100% - 680px);
  margin-left: 320px;
}

.nav-content .mg {
  margin: 40px;
}

.nav-content .page-title {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.nav-content .page-title button {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #f2f2f2;
  color: gray;
  border: none;
}

/* ================================== 
      ADMIN - GENERAL END
===================================== */

/* ================================== 
      ADMIN - LEFT SIDE BAR START
===================================== */

.navigation {
    width: 220px;
    position: relative;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-right: .5px solid rgb(220, 220, 220);
    position: fixed;
    z-index: 1000;
    background-color: white;
    left: 0;
    top: 0;
    bottom: 0;
}

.navigation .semi-logo h2 {
    text-transform: uppercase;
}

.navigation .semi-logo h2::after {
    content: "Admin Panel";
    text-transform: uppercase;
    display: block;
    font-size: 13px;
    color: gray;
}

.navigation .compose button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 10px;
    background-color: var(--bg-primary);
    color: white;
    border: none;
    border-radius: 10px;
    column-gap: 10px;
    font-size: 16px;
}

.navigation .compose button span {
    position: relative;
    top: 2px;
}

.navigation .bottom-area {
    position: absolute;
    bottom: 40;
}

.navigation ul {
    margin-top: 20px;
    list-style: none;
}

.navigation nav p {
    text-transform: uppercase;
    color: gray;
    font-size: 12px;
}

.navigation ul li {
    position: relative;
}

.navigation ul li a {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 10px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.navigation ul li.active a {
    font-weight: 600;
    color: var(--bg-primary) !important;
    transition: 0.5s;
}

.navigation ul li.active svg path {
    stroke-width: 2.5;
    transition: 0.5s;
}

.navigation ul li.active::after {
    content: "";
    position: absolute;
    right: -50px;
    height: 30px;
    width: 3px;
    background: var(--bg-primary) !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 6px;
}

.navigation .bottom-area button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 10px;
    column-gap: 10px;
    font-size: 17px;
    cursor: pointer;
}

@media (max-height: 750px) {
    .navigation .bottom-area {
        position: relative;
        bottom: unset;
        margin-top: 50px;
    }
}

/* ================================== 
      ADMIN - LEFT SIDE BAR END 
===================================== */


/* ================================== 
      ADMIN - RIGHT PANEL START
===================================== */


.add-on {
    width: 260px;
    padding: 40px 50px;
    border-left: .5px solid rgb(220, 220, 220);
    position: fixed;
    z-index: 1000;
    background-color: white;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
}

.add-on .profile-detail {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.add-on .profile-detail .profile-pic {
    position: relative;
}

.add-on .profile-detail .profile-pic img {
    background-color: gray;
    border-radius: 50px;
    display: block;
    object-fit: cover;
}

.add-on .profile-detail .profile-pic::after {
    content: "";
    width: 11px;
    height: 11px;
    display: block;
    background-color: #0CD119;
    position: absolute;
    bottom: 0;
    right: -2;
    border-radius: 11px;
    border: 1.5px solid white;
}

.add-on .profile-detail .name-role {
    width: 100%;
}

.add-on .profile-detail .name-role p {
    text-transform: uppercase;
    font-size: 12px;
    color: gray;
}

.add-on .profile-detail a {
    color: black;
}

/* ================================== 
      ADMIN - RIGHT PANEL START 
===================================== */