:root {
  --bg-primary: rgb(40, 42, 54);
  /* --bg-primary: #4653FF; */
  /* --bg-primary: #5D72FF; */
  --border-container: 1px solid #eaeaea;
  --box-shadow-default: 0 4px 20px -4px rgba(0,0,0,.08);

  --content-based-width: 970px;
  --delete-color: rgb(189, 71, 71);
  --border-line-theme: 1px solid #eee;
  --border-input-field: 1px solid #e1e1e1;
}

* {
  margin: 0px;
  padding: 0px;

  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
}

.wrapper {
  margin-top: 50px;
  padding: 0px 20px;
}

.wrapper .content {
  position: relative;
  margin: 0px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: var(--content-based-width);
}

button, a {
  cursor: pointer;
}

/* ================================== 
        HEADER SECTION START 
===================================== */
.header {
  display: flex;
}

.header .logo img {
  cursor: pointer;
}

.header .linkend {
  color: #4646ee !important;
  cursor: pointer;
}
/* ================================== 
        HEADER SECTION END 
===================================== */

/* ================================== 
        OTHER PAGE START 
===================================== */

.other-page {
  margin-top: 70px;
}

.other-page .page-title h3 {
  color: #DBDBDB;
  text-transform: uppercase;
  font-size: 25px;
}

.other-page .page-title h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 45px;
}

.other-page .page-intro {
  margin: 30px 0px;
}

.other-page .page-intro p {
  color: #828282;
}

/* ================================== 
        OTHER PAGE END 
===================================== */

/* ================================== 
        FOOTER SECTION START 
===================================== */
.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0px 10px;
}

.nav ul li.phone-no {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.nav ul li.linkend {
  color: var(--bg-primary);
} 

.hr-horizontal {
    border: none;
    border-top: 1px solid rgb(225, 225, 225) !important;
    margin: 40px 0px;
    margin-bottom: 20px;
}
  
.section {
    padding-top: 0px;
    padding: 0px 10px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.section p {
    color: #828282;
}
  
.section section.socials ul {
    margin-left: auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0px 20px;
    color: #a4a4a4;
    width: 180px;
}

@media (max-width: 900px) {
  .section {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}

/* ================================== 
        FOOTER SECTION END 
===================================== */