.parent {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.navigation a {
    color: #000;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.title {
    font-size: 18px;
}

.intro p:not(:last-child) {
    margin-bottom: 20px;
}